:root {
    --red: #e83b3b;
    --green: #03cea4;
    --white: #ffffff;
}


header {
    height: 97px;
    border-bottom: 1px solid red;
}

header img {
    max-width: 147px;
}

body {
    margin: 0;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
}



footer {
    background-color: #15152e;
    width: 100%;
}

footer .container {
    display: flex;
    flex-direction: column;
}

.footer-top, .footer-bottom {

    width: 100%;

}

.footer-logos {
    color: var(--red)
}

.logo {
    max-width: 220px;
}

p.future {
    font-family: raisonnedemibold;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
}

.awards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fibre-award {
    max-height: 120px;
}

.mcr-business  {
    max-height: 150px;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    padding: 0 12px;
    flex: 0 0 auto;
    width: 40%;
    
}

.footer-info li {
    list-style-type: none;
}

.footer-info a:hover {
    color: var(--red)
}

.footer-info ul {
    padding-inline-start: 0;
}

.footer-info a {
    text-decoration: none;
    color: var(--white);
    
}

.footer-info-links li {
    margin-bottom: 1rem;
}

.footer-info-contact p {
    color: var(--white);
    margin: 0;
}

.footer-info-contact img {
    margin-right: 20px;

}

.social-icons svg {
    width: 25px;
    margin-right: 20px;
    fill: var(--white)
}

.footer-socials.footer-col {
    width: 75%;
}

.social-icons svg:hover {
    fill: var(--red)
}


.footer-heading {
    color: var(--red);
    font-size: 17px;
    margin-top: 0;
}

.footer-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px -0.5px 0px var(--white);
    padding-top: 60px;
}

.footer-row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 48px 0;
}

.associations {
    display: flex;
}

.conditions a {
    color: var(--white);
    text-decoration: none;
    margin-right: 20px;
}

.conditions a:hover {
    color: var(--red);
}





@media (min-width: 992px) {
    footer {
        padding: 100px 125px 40px;
    }

}



@media (min-width: 576px) {
    .container {
        max-width:540px
    }

    
}

@media (min-width: 768px) {
    .container {
        max-width:720px
    }
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .footer-top {
        flex-direction: row;
    }

    .footer-row {
        flex-direction: row;
    }

    .awards {
        flex-direction: row;
    }

    .footer-col {
        flex: 1 0 0%;
        
    }
    
}

@media (min-width: 1200px) {
    .container {
        max-width:1140px
    }
}

@media (min-width: 1400px) {
    .container {
        max-width:1320px
    }
}

main#tp-widget-wrapper {
    margin: 0!important;
}






