:root {
    --red: #e83b3b;
    --green: #03cea4;
    --white: #ffffff;
}


header {
    height: 97px;
    border-bottom: 1px solid red;
}

header img {
    max-width: 147px;
}

body {
    margin: 0;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 100%;
    /* display: flex;
    align-items: center; */
    height: 100%;
}

.features {
    height: 700px;
}

.feature-grid {  
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Feature-1"
      "Feature-2" 
      "Feature-3"
      "Feature-4"
      "Feature-5"
      "Feature-6";
    
  }
  
  .Feature-1 { grid-area: Feature-1; }
  
  .Feature-2 { grid-area: Feature-2; }
  
  .Feature-3 { grid-area: Feature-3; }
  
  .Feature-4 { grid-area: Feature-4; }
  
  .Feature-5 { grid-area: Feature-5; }
  
  .Feature-6 { grid-area: Feature-6; }

.feature-img-wrap {
    position: relative;
    width: 200px
}

.feature-img-wrap img {
    width: 94px;
}

.feature-text-wrap {
    width: 200px;
    text-align: center;
}

.feature-item {
    display: flex;
    flex-direction: column;
    height: 349px;
    justify-content: space-around;
    
}


.animated {
    display: none;
  }
  
  .static-img:hover + .animated {
    display: inline-block;
  }
  
  .static-img, .animated {
      position: absolute;
      left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
      
  }

  .footer { 
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo logo . info contact social"
      "terms terms . . logo-2 logo-2"
      "trustPilot trustPilot . . . .";
      background-color: #15152e; 
      padding: 100px;
  }
  
  .info { grid-area: info; }
  
  .contact { grid-area: contact; }
  
  .social { grid-area: social; }
  
  .logo { grid-area: logo; }
  
  .terms { grid-area: terms; }
  
  .logo-2 { grid-area: logo-2; }
  
  .trustPilot { grid-area: trustPilot; }

.footer-cont {
    background-color: #15152e;
}

.footer-logos {
    color: var(--red)
}

.logo {
    max-width: 220px;
}

p.future {
    font-family: raisonnedemibold;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
}

.awards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fibre-award {
    max-height: 120px;
}

.mcr-business  {
    max-height: 150px;
}


.info li, .contact li {
    list-style-type: none;
}

.info a:hover {
    color: var(--red)
}

.info ul, .contact ul {
    padding-inline-start: 0;
}

.info a {
    text-decoration: none;
    color: var(--white);
    
}

.footer-info-links li {
    margin-bottom: 1rem;
}

.contact p {
    color: var(--white);
    margin: 0;
}

.contact img {
    margin-right: 20px;

}

.social-icons svg {
    width: 25px;
    margin-right: 12px;
    fill: var(--white)
}


.social-icons svg:hover {
    fill: var(--red)
}


.footer-heading {
    color: var(--red);
    font-size: 17px;
    margin-top: 0;
}


.associations {
    display: flex;
}

.conditions a {
    color: var(--white);
    text-decoration: none;
    margin-right: 20px;
    font-size: 15px;
}

.conditions a:hover {
    color: var(--red);
}



.chevron-icon {
    background-color: var(--green);
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    height: 57px;
    padding-bottom: 2px;
    position: absolute;
    right: 30px;
    top: -23.5px;
    transition: .3s;
    width: 57px;
    z-index: 9;
    display: grid;
    place-content: center;

}

.chevron-icon svg {
    fill: var(--white);
    width: 25px;
}








@media (min-width: 576px) {
    .container {
        max-width:540px
    }

    

    
}

@media (min-width: 768px) {
    .container {
        max-width:720px
    }
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .feature-grid {  
        max-width: 300px;

    grid-template-areas:
      "Feature-1 Feature-2 Feature-3"
      "Feature-4 Feature-5 Feature-6";

    }


    .awards {
        flex-direction: row;
    }

}



@media (min-width: 1200px) {
    .container {
        max-width:1140px
    }
}

@media (min-width: 1400px) {
    .container {
        max-width:1320px
    }
}

main#tp-widget-wrapper {
    margin: 0!important;
}




